@import '../../constants/colors.scss';

.nav_item{
    cursor: pointer;
    a{
        text-decoration: none;
        color: $black;
    }
}

@media only screen and (max-width: 970px) {
    .nav_item{
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
    }
}