@import '../../constants/colors.scss';

.main{
    height: fit-content;
    position: relative;
    overflow: hidden;
    .circle{
        position: absolute;
        right: -10rem;
        top: 10rem;
        border-radius: 50%;
        background-color: $primary;
        border: none;
        height: 60rem;
        width: 60rem;
        z-index: 1;
    }
}


@media only screen and (max-width: 1820px) {
    .main{
        .circle{
            top: 15rem;
            height: 50rem;
            width: 50rem;
        }
    }
}

@media only screen and (max-width: 1420px) {
    .main{
        .circle{
            top: 20rem;
            height: 40rem;
            width: 40rem;
        }
    }
}

@media only screen and (max-width: 1420px) {
    .main{
        .circle{
            top: 25rem;
            height: 30rem;
            width: 30rem;
        }
    }
}

// @media only screen and (max-width: 1366px) and (max-height: 768px) {
//     .main{
//         .circle{
//             top: 17vh;
//             height: 120vh;
//             width: 60vw;
//         }
//     }
// }

// @media only screen and (max-width: 1280px) {
//     .main{
//         .circle{
//             top: 35vh;
//             height: 80vh;
//             width: 60vw;
//         }
//     }
// }

@media only screen and (max-width: 785px) {
    .main{
        .circle{
            display: none;
        }
    }
}