@import '../../constants/colors.scss';

.artesano {
    img {
        object-fit: cover;
        object-position: center;
    }

    .artesano_nombres {
        display: flex;
        gap: 10px;

        .artesano_nombre {
            font-weight: bolder;
            font-size: calc(1.5rem + .6vw);
        }
    }

    .artesano_datos {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0%;
        right: 0%;
        margin: auto;
        width: 80%;

        .artesano_datos_cont {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: repeat(3, calc(50px + 10vw));
            grid-template-areas:
                "productos-left artesano-foto artesano-foto"
                "productos-left artesano-foto artesano-foto"
                "productos-bottom productos-bottom productos-bottom";
            column-gap: 10px;
            row-gap: 10px;

            justify-content: center;

            .artesano_fotos_izquierda {
                grid-area: productos-left;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            .artesano_foto {
                grid-area: artesano-foto;
                width: 100%;
                object-fit: cover;
                height: 100%;
            }

            .artesano_productos_cont {
                grid-area: productos-bottom;
                display: flex;
                gap: 10px;
            }

        }

        .btn_div {
            display: block;
            margin-top: 4%;
            margin-bottom: 4%;
            text-align: center;
        }

        .sobre_emprendimiento {
            .emprendimiento_title {
                color: $primary;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 5px;
                font-size: calc(1rem + .1vw);
            }

            .emprendimiento_text {
                color: $gray4;
                text-align: justify;
                font-size: calc(14px + .1vw);
            }
        }

        .mapa_artesano {
            margin-top: 4%;
            text-align: center;

            .mapa {
                margin-top: 1rem;
            }
        }
    }
}

.anchor_img {
    display: block;
    width: 100%;
    height: 100%;

    .producto_foto_group {
        position: relative;
        transition: .2s all;
        height: 100%;
        width: 100%;

        .foto {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
        }

        .producto_nombre {
            z-index: 100000;
            color: $white;
            bottom: 4px;
            height: 15%;
            font-size: calc(4px + .6vw);
            width: 100%;
            text-align: center;
            padding-top: .5rem;
            padding-bottom: .5rem;
            margin: 0%;
            max-width: 100%;
            background-color: $gray2;
            position: absolute;
            backdrop-filter: blur(5px);
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            white-space: nowrap;
            padding-left: .5rem;
            padding-right: .5rem;
        }

        &:hover {
            .foto {
                opacity: .5;
                cursor: pointer;
                transform: scale(1.01);
            }
        }

        &:active {
            transform: scale(0.98);
        }
    }
}

.text {
    font-size: calc(1.2rem + .4vw);
    margin: 0%;
    font-weight: bolder;
    text-transform: uppercase;
}

@media only screen and (max-width: 700px) {
    .producto_foto_group {
        .producto_nombre {
            height: 2rem;
        }
    }
}