@import '../../constants/colors.scss';

.header{
    display: flex;
    z-index: 10000;
    height: 10vh;
}

@media only screen and (max-width: 970px) {
    .header{
        top: 0%;
        left: 0%;
        background-color: $gray1;
        position: sticky;
    }
}