@import '../../constants/colors.scss';
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    min-height: 100px;
    z-index: 100;
    .nav_list{
        transition: .5s ease-in-out all;
        margin: 0%;
        width: 80%;
        height: 10vh;
        display: flex;
        align-items: center;
        color: $primary;
        font-weight: 500;
        padding-left: 3.5rem;
        font-size: calc(1rem + .2vw);
        gap: 5%;
        list-style: none;
        z-index: 5;
    }
}

.active_navbar{
    top: 7.5vh !important;
}


.logo{
    .logo_img{
        transform: translateY(.3rem);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: calc(6rem + .4vw);
        object-fit: contain;
    }
}

.wrapper{
    width: 80%;
    .nav_list_wrapper{
        .nav_wrapper{
            width: 100%;
            display: flex;
        }
        .list_icon{
            display: none;
            .list_svg{
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }
}

.orange_line{
    flex-grow: 1;
}

@media only screen and (max-width: 970px) {
    .navbar{
        .nav_list{
            width: 100%;
            position: absolute;
            padding-top: .5rem;
            padding-bottom: .5rem;
            left: 0%;
            gap: 10px;
            top: -100%;
            flex-direction: column;
            padding-left: 0rem;
            height: fit-content;
            background-color: $gray2;
        }
    }
    .logo{
        .logo_img{
            transform: translateY(.3rem);
        }
    }

    .wrapper{
        width: 80%;
        .nav_list_wrapper{
            display: flex;
            justify-content: space-around;
            .nav_wrapper{
                width: 100%;
                display: flex;
            }
            .list_icon{
                display: block;
                padding-right: .5rem;
            }
        }
    }
    
}