@import '../../constants/colors.scss';

.container{
    min-height: 80vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    .presentacion{
        height: 100%;
        width: 80%;
        display: flex;
        .presentacion_left{
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 55%;
            .presentacion_header_wrapper{
                width: 100%;
            }
            .presentacion_title{
                font-size: calc(2rem + 3vw);
                margin: 0%;
                color: $primary;
            }
            .presentacion_subtitle_wrapper{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .presentacion_subtitle{
                    font-size: calc(1rem + .1vw);
                    text-align: justify;
                    color: $accent;
                }
            }
        }
        .circles_home{
            margin-left: 2rem;
            object-fit: contain;
            overflow: hidden;
        }
    }
}

.orange_line{
    position: absolute;
    bottom: 0%;
}

@media only screen and (max-width: 785px) {
    .container{
        .presentacion{
            .presentacion_left{
                height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                .presentacion_subtitle_wrapper{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .presentacion_subtitle{
                        font-size: calc(1rem + .1vw);
                        text-align: justify;
                        color: $accent;
                    }
                }
            }
            .circles_home{
                display: none;
            }
        }
    }
    
}