@import '../../constants/colors.scss';

.section_header {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .name {
        margin-top: 2rem;
        font-size: calc(1.5rem + .4vh);
        text-transform: uppercase;
        letter-spacing: .4vw;
        text-align: center;
        color: $primary;
        line-break: auto;
        word-wrap: break-word;
    }
}