@import '../../constants/colors.scss';

.section_header{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .name{
        margin-top: 6%;
        font-size: calc(1.5rem + .4vh);
        text-transform: uppercase;
        letter-spacing: .4vw;
        text-align: center;
        color: $primary;
        line-break: auto;
        word-wrap: break-word;
    }
}