@import '../../constants/colors.scss';

.map_wrapper{
    height: 80vh;
    width: 100%;
    .map{
        height: 100%;
        width: 100%;
    }
}

.icon_classname{
    border-radius: 50%;
    border-top: 2px solid $accent;
    border-left: 2px solid $accent;
    border-right: 2px solid $primary;
    border-bottom: 2px solid $primary;
}