@import './constants/colors.scss';

body {
  margin: 0;
  background-color: $gray1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;

}

.btn {
  height: 2.5rem;
  border-radius: 5rem;
  min-width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
}

.error {
  text-align: center;
  grid-column: 1 / 7;
}

.text-align-right {
  text-align: right;
}

.btn-effect {
  transition: .2s all;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(1);
  }
}

.bb-gc {
  text-shadow: 1px 0 0 $black, -2px 0 0 $black, 0 2px 0 $black, 0 -2px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black;
  color: $gray1;
}

.bb-gc-1px {
  text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black, 0 -1px 0 $black, 1px 1px $black, -1px -1px 0 $black, 1px -1px 0 $black, -1px 1px 0 $black;
  color: $gray1;
}

.input {
  border-radius: 5rem;
  border: 1px solid $black;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: .5rem;
  outline: none;
  width: 100%;
}

.primary {
  background-color: $primary;
  color: $white;
}

.accent {
  background-color: $accent;
  color: $white;
}

.color-p {
  color: $primary;
}

.color-acc {
  color: $accent;
}

.input-error {
  border: 1.5px solid $accent;
}

.bg-cyan {
  background-color: $cyan;
  color: $white;
}

.alter-row {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  gap: 10px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.table-container {
  width: 100%;
  padding-top: 2rem;

  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid $primary;

    td,
    th {
      border: 1px solid $primary;
    }

    tr {
      height: 2.5rem;
    }

    thead {
      tr {
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        background-color: $accent;
      }
    }

    tbody {
      tr {
        border: 1px solid $primary;
        background-color: $white;

        &:nth-child(2n) {
          background-color: $gray1;
        }
      }

    }
  }
}

.no-data {
  margin-bottom: 0%;
}

.error-campo {
  border: 2px solid red;
}

.text-align-center {
  text-align: center;
}